<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">ChaosChamber</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>
          </div>

<div class="dropdown">
  <button class="btn btn-secondary" >
  {{#if user}}
    {{name}}
  {{else}}
    Account
    {{/if}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     {{!-- {{#if user}}
    <a class="dropdown-item" href="/logout">
     
  log out

    </a>{{/if}} --}}
  
  </div>
</div>

 {{#if user}}
    <a class="btn btn-danger ms-2" href="/logout">
     
  log out

    </a>
  {{else}}
 
    {{/if}}





   
  </div>
</nav>
</header>